* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  margin: auto;
  text-align: center;
  background-color: rgb( 123, 122, 220);
}

#rgb-color{
  margin-top: 50px;
}

.ball {
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 80px;
  width: 80px;
  height: 80px;
  display: inline-block;
}